@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container">
    <div class="row">

        <div class="col-8 text-justify mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere feugiat varius. 
            Nulla a turpis vel leo faucibus ullamcorper sit amet ac ligula. 
            Ut tempor, massa a sollicitudin pellentesque, mi eros bibendum quam, nec rhoncus ipsum odio non sem. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            Proin quis nulla lacinia, malesuada ante quis, finibus arcu. Duis sit amet lacus quis mauris malesuada volutpat.
            Vestibulum ultricies elementum risus, in semper turpis blandit eget. 
            Suspendisse feugiat mi fringilla augue ullamcorper, in pretium nulla luctus. 
            Cras nunc urna, aliquam at dui vitae, ornare porta tortor. Cras iaculis ut velit vel volutpat. 
            Fusce elementum massa vitae neque vestibulum, eu faucibus nisl euismod.
        </div>

    </div>
</div>
